

.ElementLink {
	padding: 2px;
	margin: 5px;
	background: none;
}

.ElementLink > button {
	border: none;
	background: none;
}

.ElementLink > button > sup {
	background: none;
}

.ElementLink > a { 
	background: none;
    text-decoration-line: none;
}

.ElementLink > a:hover { 
	text-decoration-line: underline;
}