

.App-header {
	text-align: center;
	font-size: calc(10px + 2vmin);
	color: white;
	background-color: #282c34;
	min-height: 10vh;
}

main {
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	background-color: #F8FDF8;
	padding-left: 4%;
}

footer {
	background-color: #282c34;
	min-height: 6vh;
}